@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .scrollbar-default {
    /* IE and Edge */
    -ms-overflow-style: auto;

    /* Firefox */
    scrollbar-width: auto;

    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: block;
    }
  }
}

@layer components {
  .contract-container .schedule-title {
    @apply mb-3;
  }
}

html {
  --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  scroll-behavior: smooth;
}
body * {
  font-family: var(--font-pretendard);
}

.xbtn-icon {
  &:hover {
    background-image: radial-gradient(#60606020 20%, #f1f1f19e 30%, #d1d1d122 50%);
  }
}

.evaluation-gradient {
  background-image: linear-gradient(90deg, #ffa3a3 0%, #ffa3a3 10%, #ffcb96 35.5%, #ffe49d 65.5%, #77d276 99%);
}
.slash-progress {
  --bs-progress-height: 0.5rem;
  --bs-progress-font-size: 0.2rem;
  --bs-bg-opacity: 1;
  background-color: #2563eb;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 25%,
    transparent 25%,
    transparent 70%,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 1) 75%,
    transparent 25%,
    transparent 100%
  );
  background-size: calc(var(--bs-progress-height) * 4) calc(var(--bs-progress-height) * 4);
}

.sidebar-gradient {
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0) 0%, #f2f5fc 100%);
}
